@-webkit-keyframes aroundOrbit {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes aroundOrbit {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@-webkit-keyframes wave {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes wave {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes verticalMove {
  0% {
    -webkit-transform: translateY(0vh);
            transform: translateY(0vh);
  }
  25% {
    -webkit-transform: translateY(1.5vh);
            transform: translateY(1.5vh);
  }
  75% {
    -webkit-transform: translateY(-1.5vh);
            transform: translateY(-1.5vh);
  }
  100% {
    -webkit-transform: translateY(0vh);
            transform: translateY(0vh);
  }
}

@keyframes verticalMove {
  0% {
    -webkit-transform: translateY(0vh);
            transform: translateY(0vh);
  }
  25% {
    -webkit-transform: translateY(1.5vh);
            transform: translateY(1.5vh);
  }
  75% {
    -webkit-transform: translateY(-1.5vh);
            transform: translateY(-1.5vh);
  }
  100% {
    -webkit-transform: translateY(0vh);
            transform: translateY(0vh);
  }
}

@-webkit-keyframes horizontalMove {
  0% {
    -webkit-transform: translateX(0vw);
            transform: translateX(0vw);
  }
  25% {
    -webkit-transform: translateX(1.5vw);
            transform: translateX(1.5vw);
  }
  75% {
    -webkit-transform: translateX(-1.5vw);
            transform: translateX(-1.5vw);
  }
  100% {
    -webkit-transform: translateX(0vw);
            transform: translateX(0vw);
  }
}

@keyframes horizontalMove {
  0% {
    -webkit-transform: translateX(0vw);
            transform: translateX(0vw);
  }
  25% {
    -webkit-transform: translateX(1.5vw);
            transform: translateX(1.5vw);
  }
  75% {
    -webkit-transform: translateX(-1.5vw);
            transform: translateX(-1.5vw);
  }
  100% {
    -webkit-transform: translateX(0vw);
            transform: translateX(0vw);
  }
}

html {
  scroll-behavior: smooth;
}

html {
  font-size: 5px;
}

@media screen and (min-width: 400px) {
  html {
    font-size: calc(5px + 14 * ((100vw - 400px) / 1520));
  }
}

@media screen and (min-width: 1920px) {
  html {
    font-size: 19px;
  }
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

html::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  font-family: 'Open Sans','sans-serif';
  background-color: #030C26;
}

* {
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
}

section {
  height: 100vh;
  overflow: hidden;
}

#canvasBck {
  position: fixed;
  top: 0;
  z-index: -1;
  background-color: #030C26;
}

#hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  background-image: url("../image/orbits.svg");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

#topBar {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#topBar #menu {
  z-index: 100;
  width: 40vw;
}

#topBar #menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#topBar #menu a {
  text-decoration: none;
  list-style: none;
  color: #E1E0DE;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 1px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#topBar #menu a:hover {
  text-shadow: 0px 0px 20px white;
  color: white;
}

#topBar #social {
  width: 60vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#topBar #social img {
  height: 2rem;
  margin-right: 1.5rem;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#topBar #social img:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

#name {
  -webkit-box-flex: 9;
      -ms-flex: 9;
          flex: 9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#name > :nth-child(1) {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

#name > :nth-child(1) span {
  color: #E1E0DE;
  font-weight: bold;
  text-transform: uppercase;
}

#name > :nth-child(1) > :nth-child(1) {
  font-size: 5rem;
  line-height: 5rem;
}

#name > :nth-child(1) > :nth-child(2) {
  font-size: 2.6rem;
}

#name > :nth-child(2) {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#name > :nth-child(3) {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
}

#name > :nth-child(3) span {
  color: #0FA697;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.5rem;
}

#name > :nth-child(3) div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-top: 1rem;
}

#name > :nth-child(3) img {
  height: 1rem;
}

#name #arrowContainer {
  cursor: pointer;
}

#name #arrowContainer > :nth-child(1) {
  -webkit-animation: wave 2s infinite linear;
          animation: wave 2s infinite linear;
}

#name #arrowContainer > :nth-child(2) {
  -webkit-animation: wave 2s 0.1s infinite linear;
          animation: wave 2s 0.1s infinite linear;
}

#name #arrowContainer > :nth-child(3) {
  -webkit-animation: wave 2s 0.2s infinite linear;
          animation: wave 2s 0.2s infinite linear;
}

#hamburger {
  z-index: 100;
  border-radius: 50%;
  margin-left: 1.5rem;
  background-color: #0FA697;
  height: 3.5rem;
  width: 3.5rem;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#hamburger > div {
  height: 60%;
  width: 60%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#hamburger > div > div {
  border-bottom: 2px solid #030C26;
  width: 90%;
  position: absolute;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#hamburger > div > :nth-child(1) {
  -webkit-transform: translateY(0.5rem);
          transform: translateY(0.5rem);
}

#hamburger > div > :nth-child(3) {
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
}

.toggleHamburger {
  background-color: #E1E0DE !important;
  -webkit-transform: translateX(8vw);
          transform: translateX(8vw);
}

.toggleHamburger > div > div {
  border-bottom: 1px solid #030C26 !important;
}

.toggleHamburger > div > :nth-child(1) {
  -webkit-transform: rotateZ(45deg) !important;
          transform: rotateZ(45deg) !important;
}

.toggleHamburger > div > :nth-child(2) {
  display: none;
}

.toggleHamburger > div > :nth-child(3) {
  -webkit-transform: rotateZ(-45deg) !important;
          transform: rotateZ(-45deg) !important;
}

#about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

#about > :nth-child(1) {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

#about > :nth-child(2) {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
}

#about > :nth-child(3) {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

#technologies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#technologies img {
  width: 60%;
  margin-bottom: 1.5rem;
}

#aboutSphere {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#aboutSphere > div {
  width: 80%;
  height: 80vh;
}

#aboutSphere .botLayer {
  background: radial-gradient(farthest-corner at 30% 30%, #FF4CFC 0%, #030C26 70%);
}

#aboutSphere .topLayer {
  background: radial-gradient(farthest-corner at 30% 30%, #FF4CFC 0%, #030C26 100%);
}

#aboutSphere .moon {
  -webkit-animation: aroundOrbit 30s infinite linear;
          animation: aroundOrbit 30s infinite linear;
}

#aboutSphere .moon .sphere {
  height: 3vh;
  width: 3vh;
}

#aboutSphere .moon .botLayer {
  background: radial-gradient(farthest-corner at 30% 30%, #E1E0DE 0%, #030C26 70%);
}

#aboutSphere .moon .topLayer {
  background: radial-gradient(farthest-corner at 30% 30%, #E1E0DE 0%, #030C26 100%);
}

#aboutSphere .content {
  width: 35vh;
  height: 30vh;
}

#aboutSphere .content > :nth-child(1) {
  font-size: 1.2rem;
}

#aboutSphere .content > :nth-child(2) {
  font-size: 0.8rem;
}

#projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

#projects > :nth-child(1) {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#projects > :nth-child(2) {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
}

#projects > :nth-child(3) {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#sliderContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#slider {
  --firstColor: #0FA697;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#slider > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#slider .slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#slider .sphere {
  height: 25vw;
  width: 25vw;
  cursor: -webkit-grab;
  cursor: grab;
}

#slider .botLayer {
  background: radial-gradient(farthest-corner at 30% 30%, var(--firstColor) 0%, #030C26 70%);
}

#slider .topLayer {
  background: radial-gradient(farthest-corner at 30% 30%, var(--firstColor) 0%, #030C26 100%);
}

#slider .content {
  height: 12vw;
  width: 20vw;
  cursor: -webkit-grab;
  cursor: grab;
}

#slider .content > * {
  margin-bottom: 0.2rem;
}

#slider .content > :nth-child(1) {
  font-size: 1.2rem;
  text-transform: uppercase;
}

#slider .content > :nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#slider .content > :nth-child(2) img {
  height: 1rem;
  margin-right: 0.2rem;
}

#slider .content > :nth-child(3) {
  font-size: 0.7rem;
}

#slider .btnsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#slider .btnsContainer a {
  height: 1.3rem;
  width: 1.3rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 0.5rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

#slider .btnsContainer a:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

#slider .btnsContainer :nth-child(1) {
  background-image: url("../icons/gitHub_black_icon.svg");
}

#slider .btnsContainer :nth-child(2) {
  background-image: url("../icons/web_icon.svg");
}

#contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

#contact > :nth-child(1) {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

#contact > :nth-child(2) {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
}

#contact > :nth-child(3) {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

#cvSphere {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#cvSphere > div {
  width: 12vh;
  height: 12vh;
  margin-bottom: 1.5rem;
  margin-left: 1.5rem;
}

#cvSphere .sphere {
  width: 12vh;
  height: 12vh;
}

#cvSphere .botLayer {
  background: radial-gradient(farthest-corner at 30% 30%, #0FA697 0%, #030C26 70%);
}

#cvSphere .topLayer {
  background: radial-gradient(farthest-corner at 30% 30%, #0FA697 0%, #030C26 100%);
}

#cvSphere #cv {
  z-index: 10;
}

#cvSphere #cv img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3rem;
  opacity: 0.5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#cvSphere #cv img:hover {
  opacity: 1;
}

#contactSphere {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contactSphere > div {
  width: 80%;
  height: 80vh;
}

#contactSphere .botLayer {
  background: radial-gradient(farthest-corner at 30% 30%, #E1E0DE 0%, #030C26 70%);
}

#contactSphere .topLayer {
  background: radial-gradient(farthest-corner at 30% 30%, #E1E0DE 0%, #030C26 100%);
}

#contactSphere .moon {
  -webkit-animation: aroundOrbit 30s infinite linear;
          animation: aroundOrbit 30s infinite linear;
}

#contactSphere .moon .sphere {
  height: 3vh;
  width: 3vh;
}

#contactSphere .moon .botLayer {
  background: radial-gradient(farthest-corner at 30% 30%, #0FA697 0%, #030C26 70%);
}

#contactSphere .moon .topLayer {
  background: radial-gradient(farthest-corner at 30% 30%, #0FA697 0%, #030C26 100%);
}

#contactSphere .moon2 {
  animation: aroundOrbit 40s  infinite linear reverse;
}

#contactSphere .moon2 .sphere {
  height: 3vh;
  width: 3vh;
}

#contactSphere .moon2 .botLayer {
  background: radial-gradient(farthest-corner at 30% 30%, #FF4CFC 0%, #030C26 70%);
}

#contactSphere .moon2 .topLayer {
  background: radial-gradient(farthest-corner at 30% 30%, #FF4CFC 0%, #030C26 100%);
}

#contactSphere .content {
  width: 40vh;
  height: 40vh;
  font-size: 0.9rem;
}

#asideMenu {
  position: fixed;
  top: 0;
  left: -100vw;
  width: 100vw;
  background-color: rgba(225, 224, 222, 0.4);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  z-index: 99;
}

#asideMenu aside {
  width: 25vw;
  height: 100%;
  background-color: #E1E0DE;
}

#asideMenu aside > :nth-child(1) {
  height: 12%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#asideMenu aside > :nth-child(1) > div {
  padding: 2.5rem;
  font-size: 1.3rem;
  color: #030C26;
  opacity: 0.8;
  cursor: pointer;
}

#asideMenu aside > :nth-child(2) {
  height: 70%;
}

#asideMenu ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

#asideMenu a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-decoration: none;
  list-style: none;
  color: #030C26;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.8px;
  text-align: center;
}

.showAsideMenu {
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
}

#sphereMenu {
  height: 15vh;
  min-height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  bottom: 2rem;
  right: 1.5rem;
}

.sphereMenuItem {
  background-color: #E1E0DE;
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
  opacity: 0.8;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.sphereMenuItem:hover {
  opacity: 1;
}

.activeItem {
  background-color: #FF4CFC;
}

.sphereContainer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.topLayer {
  opacity: 0.5;
}

.sphere {
  position: absolute;
  width: 50vh;
  height: 50vh;
  border-radius: 50%;
}

.moon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  position: absolute;
  border-radius: 50%;
  width: 58vh;
  height: 58vh;
}

.moon > :nth-child(1) {
  width: 3vh;
  height: 3vh;
  margin-top: -1.5vh;
  border-radius: 50%;
}

.moon2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 66vh;
  height: 66vh;
}

.moon2 > :nth-child(1) {
  margin-bottom: -1.5vh;
}

.orbit {
  border: 1px dashed #E1E0DE;
  -webkit-animation: none !important;
          animation: none !important;
}

.content {
  z-index: 98;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.activeSphere {
  --firstColor: #E1E0DE;
}

@media (min-width: 320px) and (orientation: portrait) {
  html {
    font-size: 8px;
  }
}

@media screen and (min-width: 320px) and (orientation: portrait) and (min-width: 320px) {
  html {
    font-size: calc(8px + 14 * ((100vw - 320px) / 1600));
  }
}

@media screen and (min-width: 320px) and (orientation: portrait) and (min-width: 1920px) {
  html {
    font-size: 22px;
  }
}

@media (max-width: 768px) and (orientation: portrait) {
  #hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #menu {
    display: none;
  }
  #about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  #about > :nth-child(1) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  #about > :nth-child(2) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  #about > :nth-child(3) {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  #about .sphere {
    width: 60vw;
    height: 60vw;
  }
  #about .moon {
    width: 70vw;
    height: 70vw;
  }
  #about .content {
    width: 45vw;
    height: 40vw;
  }
  #technologies {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #technologies img {
    width: 28%;
    margin-left: 1.5rem;
  }
  #projects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  #slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  #slider .slides {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #slider .sphere {
    height: 30vh;
    width: 30vh;
  }
  #slider .content {
    height: 22vh;
    width: 22vh;
  }
  #contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  #contact > :nth-child(1) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  #contact > :nth-child(2) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  #contact > :nth-child(3) {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  #contactSphere .sphere {
    width: 60vw;
    height: 60vw;
  }
  #contactSphere .moon {
    width: 70vw;
    height: 70vw;
  }
  #contactSphere .moon2 {
    width: 80vw;
    height: 80vw;
  }
  #contactSphere .content {
    width: 50vw;
    height: 50vw;
  }
  #cvSphere {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #cvSphere > div {
    width: 10vh;
    height: 10vh;
  }
  #cvSphere .sphere {
    width: 10vh;
    height: 10vh;
  }
  #cvSphere img {
    height: 7vh;
  }
}

@media (min-width: 320px) and (orientation: landscape) {
  #hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #menu {
    display: none;
  }
  #cvSphere img {
    height: 3.5rem;
  }
  #slider .content {
    height: 22vw;
    width: 22vw;
  }
}

@media (min-width: 801px) and (orientation: landscape) {
  #hamburger {
    display: none;
  }
  #menu {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */