@keyframes aroundOrbit{
    from{
        transform: rotateZ(0deg);
    }to{
        transform: rotateZ(360deg);
    }
}
@keyframes wave{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
@keyframes verticalMove{
    0%{
        transform: translateY(0vh);
    }
    25%{
        transform: translateY(1.5vh);
    }
    75%{
        transform: translateY(-1.5vh);
    }
    100%{
        transform: translateY(0vh);
    }
}
@keyframes horizontalMove{
    0%{
        transform: translateX(0vw);
    }
    25%{
        transform: translateX(1.5vw);
    }
    75%{
        transform: translateX(-1.5vw);
    }
    100%{
        transform: translateX(0vw);
    }
}